.welcome {
    text-align: center;
    padding-bottom: 3vh;
    font-size: 3vw;
}

.table {
    text-align: center;
}

.spinner-border {
    position: relative;
    left: 50%;
}

@media (max-width: 800px) {
    .welcome {
        font-size: 5vw;
    }
}
