<div class="welcome">Witaj {{ratings[0].name}}!</div>
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Ocena</th>
        <th scope="col">Temat</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let rating of ratings[0].ratings; let nr = index">
        <tr>
          <td>{{ rating.value }}</td>
          <td>{{ rating.for }}</td>
          <td>{{ rating.date | date }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
