      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Zaloguj się</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="uname1">Nazwa użytkownika</label>
              <input type="text" class="form-control rounded-0" [(ngModel)]="loginUserData.login" name="login" required>
            </div>
            <div class="form-group">
              <label>Hasło</label>
              <input type="password" [(ngModel)]="loginUserData.password" class="form-control rounded-0" name="password" required>
            </div>
            <button type="button" (click)="loginUser()" class="btn btn-success float-right">Zaloguj się</button>
          </form>
        </div>
      </div>



