body {
  height: 100vh;
  background-image: url(assets/background2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  font-family: "DM Mono", monospace;
}

app-navbar {
  font-family: "Anton", sans-serif;
}
app-footer {
  width: 100vw;
  text-align: center;
  position: fixed;
  padding: 1vh;
  bottom: 0;
  font-family: "DM Mono", monospace;
  background-color: rgb(73, 73, 78);
}

app-login {
  margin: 0 !important;
  position: absolute;
  width: 38vw;
  top: 30vh;
  left: 31vw;
  font-family: "DM Mono", monospace;
}

app-students,app-profile-student {
  position: relative;
  top: 15vh;
  margin-left: auto;
  margin-right: auto;
  font-family: "DM Mono", monospace;
}

app-profile-student {
  top: 20vh;
}
