.add {
    background-image: url(src/assets/add.png);
}

.edit {
    background-image: url(src/assets/edit.png);
}

.delete {
    background-image: url(src/assets/delete.png);
}

.btn {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    margin-left: 0.5vw;
    position: relative;
    top: 0;
}

.btn:hover {
    transform: scale(0.9);
}

.spinner-border {
    position: relative;
    left: 50%;
}

input {
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    width: 1vw;
    height: 3vh;
    margin-bottom: 1vh;
}

.wider {
    width: auto;
}

.ikons {
    display: inline-block;
    position: relative;
}

span {
    position: relative;
    margin-left: 0.5vw;
}

.inputs {
    display: inline-block;
}

.welcome {
    text-align: center;
    padding-bottom: 3vh;
    font-size: 3vw;
}

@media (max-width: 1325px) {
    input {
        width: 2vw;
    }
}

@media (max-width: 800px) {
    .welcome {
        font-size: 4vw;
    }
}

@media (max-width: 580px) {
    input {
        width: 3vw;
    }
}

@media (max-width: 400px) {
    input {
        width: 4vw;
    }
}
